<mat-list>
    <div mat-subheader class="flex items-center justify-between">
        <span>
            Folders
        </span>
        <button mat-icon-button class="example-icon cursor-pointer"
            aria-label="Example icon-button with share icon"
            (click)="onAddNewFolder()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    @for (folder of folders; track folder) {
    <mat-list-item (click)="onSelect(folder)" [class.active]="selectedNavMenu === folder"
>
        <mat-icon matListItemIcon>folder</mat-icon>
        <div matListItemTitle>{{folder.name}}</div>
        <div matListItemLine>{{folder.path }}</div>
        <!-- <div matListItemLine>{{folder.updated | date}}</div> -->
    </mat-list-item>
    }
    <mat-divider></mat-divider>
    <div mat-subheader>Recent Notes</div>
    @for (note of notes; track note) {
    <mat-list-item>
        <mat-icon matListItemIcon>note</mat-icon>
        <div matListItemTitle>{{note.name}}</div>
        <div matListItemLine>{{note.updated | date}}</div>
    </mat-list-item>
    }
</mat-list>
