<div class="mx-auto flex flex-col max-w-sm items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg outline outline-black/5 dark:bg-slate-800 dark:shadow-none dark:-outline-offset-1 dark:outline-white/10 overflow-auto"
    (click)="opeNote($event)">
    <div class="w-50 h-55 ">

        <div class="text-xl font-medium text-black dark:text-white">Note Header</div>
        <p class="text-gray-500 dark:text-gray-400 ">Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown .

        </p>
    </div>

</div>
